@model MySmartHomeCore.Controllers.HomeController.HomeIndexData
@{
    var conf1 = MySmartHomeCore.Models.SmartHomeConfig.Deserialize(Model.unit1.Config);
    bool alarmState = (Model.jablotron.State != "IDLE");
    if (Model.jablotron.CommandToExecute != "")
    {
        alarmState = Model.jablotron.CommandToExecute != "DISARM";
    }
    string alarmText = "N/A";
    string alarmColor = "badge-secondary";

    switch (Model.jablotron.State)
    {
        case "DISCONNECTED":
            alarmText = "DISCONNECTED";
            alarmColor = "badge-danger";
            break;
        case "IDLE":
            alarmText = "OFF";
            alarmColor = "badge-secondary";
            break;
        case "OUTCOMMINGDELAY":
            alarmText = "ARMED →";
            alarmColor = "badge-warning";
            break;
        case "INCOMMINGDELAY":
            alarmText = "ARMED ←";
            alarmColor = "badge-warning";
            break;
        case "ARMED":
            alarmText = "ARMED";
            alarmColor = "badge-warning";
            break;
        case "ALARM":
            alarmText = "ALARM";
            alarmColor = "badge-danger";
            break;
    }

}


        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-secondary">
                    <div class="panel-body">
                        <h2 class="card-title">House</h2>
                        <h5>
                            <div class="row">
                                <div class="col col-sm-6 pull-left">
                                    Alarm
                                </div>
                                <div class="col col-sm-6 pull-right text-right">
                                    <img onclick="window.location.href='/?cmd=switchalarm'" src="@Html.Raw(alarmState ? "/Img/toggle-on-red.png" : "/Img/toggle-off.png" )" style="height: 24px; cursor: pointer" />
                                    <span class="badge @Html.Raw(alarmColor)">
                                        @alarmText
                                    </span>
                                </div>
                            </div>
                        </h5>
                        <h5>
                            <div class="row">
                                <div class="col col-sm-6 pull-left">
                                    Outside temperature
                                </div>
                                <div class="col col-sm-6 pull-right text-right">
                                    <span class="badge badge-secondary">@Model.unit1.Temperature.ToString("0.0")°C</span>
                                </div>
                            </div>
                        </h5>
                        <h5>
                            <div class="row">
                                <div class="col col-sm-6 pull-left">
                                    Irrigation
                                </div>
                                <div class="col col-sm-6 pull-right text-right">
                                    <img onclick="window.location.href='/?cmd=switchwater'" src="@Html.Raw(conf1.irrigationOn ? "/Img/toggle-on-blue.png" : "/Img/toggle-off.png")" style="height: 24px; cursor: pointer" />
                                    <span class="badge @Html.Raw(Model.unit1.WaterOn?"badge-primary": conf1.irrigationOn?"badge-secondary":"badge-secondary")">
                                        @(Model.unit1.WaterOn ? "ON" : conf1.irrigationOn ? "IDLE" : "OFF")
                                    </span>
                                </div>
                            </div>
                        </h5>
                        <h5>
                            <div class="row">
                                <div class="col col-sm-6 pull-left">
                                    Moisture sensor
                                </div>
                                <div class="col col-sm-6 pull-right text-right">
                                    <span class="badge @Html.Raw(Model.unit1.IsWet?"badge-primary":"badge-danger")">@(Model.unit1.IsWet ? "WET" : "DRY")</span>
                                </div>
                            </div>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="card-title">Dog House</h3>

                        <h5>
                            <div class="row">
                                <div class="col col-sm-6 pull-left">
                                    Temperature
                                </div>
                                <div class="col col-sm-6 pull-right text-right">
                                    <span class="badge badge-secondary">@Model.unit1.DogHouseTemperature.ToString("0.0")°C</span>
                                </div>
                            </div>
                        </h5>
                        <h5>
                            <div class="row">
                                <div class="col col-sm-6 pull-left">
                                    Heating
                                </div>
                                <div class="col col-sm-6  pull-right text-right">
                                    <span class="badge @Html.Raw(Model.unit1.DogHouseHeatingOn?"badge-danger":"badge-secondary")">@(Model.unit1.DogHouseHeatingOn ? "ON" : "OFF")</span>
                                </div>
                            </div>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

